<%- include('../layout/admin/head'); -%>
<body>

<!-- header -->
<%- include('../layout/admin/header'); -%>
<!-- end header -->

<!-- sidebar -->
<%- include('../layout/admin/slidebar'); -%>
<!-- end sidebar -->

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>Dashboard</h2>
                    <p>Nail shop</p> 
				</div>
			</div>
			<!-- end main title -->
		</div>

		<div class="row row--grid">
			<!-- stats -->
			<div class="col-12 col-sm-6 col-xl-3">
				<div class="stats">
					<span>List news order</span>
					<p><%=order.length%></p>
					<img src="/images/graph-bar.svg" alt="">
				</div>
			</div>
			<!-- end stats -->

			<!-- stats -->
			<div class="col-12 col-sm-6 col-xl-3">
				<div class="stats">
					<span>Coupons On</span>
					<p><%=coupon.length%></p>
					<img src="/images/film.svg" alt="">
				</div>
			</div>
			<!-- end stats -->

			<!-- stats -->
			<div class="col-12 col-sm-6 col-xl-3">
				<div class="stats">
					<span>New comments</span>
					<p><%=comment.length%></p>
					<img src="/images/comments.svg" alt="">
				</div>
			</div>
			<!-- end stats -->

			<!-- stats -->
			<div class="col-12 col-sm-6 col-xl-3">
				<div class="stats">
					<span>New reviews</span>
					<p><%=review.length%></p>
					<img src="/images/star-half-alt.svg" alt="">
				</div>
			</div>
			<!-- end stats -->

			<!-- dashbox -->
			<div class="col-12 col-xl-6">
				<div class="dashbox">
					<div class="dashbox__title">
						<h3><img src="/images/award.svg" alt=""> List order</h3>

						<div class="dashbox__wrap">
							<a class="dashbox__refresh" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z"/></svg></a>
							<a class="dashbox__more" href="/admin/oder">View All</a>
						</div>
					</div>

					<div class="dashbox__table-wrap">
						<table class="main__table main__table--dash">
							<thead>
								<tr>
									<th>ID</th>
									<th>NAME</th>
									<th>ADDRESS</th>
									<th>PRODUCT</th>
								</tr>
							</thead>
							<tbody>
								<%for(var i=0; i< order.length; i++){%>
								<tr>
									<td>
										<div class="main__table-text"><%=i%></div>
									</td>
									<td>
										<div class="main__table-text"><%=order[i].user.name%></div>
									</td>
									<td>
										<div class="main__table-text"><%=order[i].address.slice(0,9)%>...</div>
									</td>
									<td>
										<div class="main__table-text main__table-text--rate"><%=order[i].product.length%></div>
									</td>
								</tr>
								<%}%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- end dashbox -->

			<!-- dashbox -->
			<div class="col-12 col-xl-6">
				<div class="dashbox">
					<div class="dashbox__title">
						<h3><img src="/images/img/film.svg" alt=""> List Coupon On</h3>

						<div class="dashbox__wrap">
							<a class="dashbox__refresh" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z"/></svg></a>
							<a class="dashbox__more" href="/admin/coupon">View All</a>
						</div>
					</div>

					<div class="dashbox__table-wrap">
						<table class="main__table main__table--dash">
							<thead>
								<tr>
									<th>ID</th>
									<th>TITLE</th>
									<th>QUANTITY</th>
									<th>DISCOUNT</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i< coupon.length; i++){%>
								<tr>
									<td>
										<div class="main__table-text"><%=i%></div>
									</td>
									<td>
										<div class="main__table-text"><%=coupon[i].name%></div>
									</td>
									<td>
										<div class="main__table-text"><%=coupon[i].quantity%></div>
									</td>
									<td>
										<div class="main__table-text main__table-text--green"><%if(parseInt(coupon[i].discountpercent) != 0){%>
											<%=coupon[i].discountpercent%>%
												<%}else{%>
													$<%=coupon[i].discountprice%>
												<%}%>
										</div>
									</td>
								</tr>
								<%}%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- end dashbox -->

			<!-- dashbox -->
			<div class="col-12 col-xl-6">
				<div class="dashbox">
					<div class="dashbox__title">
						<h3><img src="/images/user-circle.svg" alt=""> Latest comment users</h3>

						<div class="dashbox__wrap">
							<a class="dashbox__refresh" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z"/></svg></a>
							<a class="dashbox__more" href="/admin/comments">View All</a>
						</div>
					</div>

					<div class="dashbox__table-wrap">
						<table class="main__table main__table--dash">
							<thead>
								<tr>
									<th>ID</th>
									<th>FULL NAME</th>
									<th>EMAIL</th>
									<th>COMMENT</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i< comment.length;i++){%>
								<tr>
									<td>
										<div class="main__table-text"><%= i%></div>
									</td>
									<td>
										<div class="main__table-text"><%=comment[i].user.name%></div>
									</td>
									<td>
										<div class="main__table-text main__table-text--grey"><%=comment[i].user.email%></div>
									</td>
									<td>
										<div class="main__table-text"><%=comment[i].content.slice(0,10)%>...</div>
									</td>
								</tr>
								<%}%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- end dashbox -->

			<!-- dashbox -->
			<div class="col-12 col-xl-6">
				<div class="dashbox">
					<div class="dashbox__title">
						<h3><img src="/images/star-half-alt.svg" alt=""> Latest reviews</h3>

						<div class="dashbox__wrap">
							<a class="dashbox__refresh" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z"/></svg> </a>
							<a class="dashbox__more" href="/admin/reviews">View All</a>
						</div>
					</div>

					<div class="dashbox__table-wrap">
						<table class="main__table main__table--dash">
							<thead>
								<tr>
									<th>ID</th>
									<th>ITEM</th>
									<th>AUTHOR</th>
									<th>REVIEW</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i< review.length;i++){%>
								<tr>
									<td>
										<div class="main__table-text"><%=i%></div>
									</td>
									<td>
										<div class="main__table-text"><%=review[i].product.name%></div>
									</td>
									<td>
										<div class="main__table-text"><%=review[i].user.name%></div>
									</td>
									<td>
										<div class="main__table-text main__table-text--rate"><%=review[i].content.slice(0,10)%>...</div>
									</td>
								</tr>
								<%}%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- end dashbox -->
		</div>
	</div>
</main>
<!-- end main content -->

<!-- JS -->
<%- include('../layout/admin/js'); -%>
</body>

<!-- Mirrored from dmitryvolkov.me/demo/flixgo2.0/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Mar 2022 10:07:52 GMT -->
</html>