<%- include('../layout/dashboard/head'); -%>


<body>

    <!-- header sec start -->
    <%- include('../layout/dashboard/header'); -%>

    <!-- header sec end -->
    <!-- banner-sec start -->
    <section class="banner inner-banner">
        <div class="inner-shape">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-text">
                            <h1 class="h1-title">checkout</h1>
                            <div class="banner-links">
                                <ul>
                                    <li><a href="/" title="Home">Home</a> /</li>
                                    <li>Check Out</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-sec end -->
    <!-- checkout-start -->
    <section class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h2 class="h2-title">billing information</h2>
                    <div class="checkout-form">
                        <form action="/checkout/oder/<%= dataoder.id %>">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div type="text" name="phone" class="form-input" placeholder="Phone Number"><%=user.phone%></div>
                                </div>
                                <div class="col-lg-6">
                                    <div type="text" name="phone" class="form-input" placeholder="Phone Number"><%=user.email%></div>
                                </div>
                                <div class="col-12">
                                    <textarea name="address" class="form-input" cols="30" rows="20" placeholder="Address"><%=dataoder.address%></textarea>
                                </div>
                             
                                <div class="col-12">
                                    <div class="submit-btn">
                                        <button type="submit" class="sec-btn" title="Deliver Here">Deliver
                                            Here</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="your-order">
                        <h2 class="h2-title">your order</h2>
                        <div class="order-list">
                            <ul>
                                <% var sum=0 %>
                                <% for( var i=0; i< dataoder.product.length ; i++){%>
                                    <% sum = sum + parseInt(dataoder.product[i].product.price)*parseInt(dataoder.product[i].quantity)%>
                                <li class="list-name">
                                    <p><%= dataoder.product[i].product.name %>/ <%= dataoder.product[i].classfy.name %> / SL: <%= dataoder.product[i].quantity %>/price:<%= dataoder.product[i].product.price %> </p> <span>$<%= parseInt(dataoder.product[i].product.price)*parseInt(dataoder.product[i].quantity) %></span>
                                </li>
                                <%}%>
                                <li class="list-name">
                                    <p><b>cart subtotal</b></p> <span>$<%= sum%></span>
                                </li>
                                <li class="list-name">
                                  
                                      <p><b>Coupon</b></p>
                                      <form action="/product/coupon/<%= dataoder.id %>" method="post">
                                        <button class="btn-coupon" type="submit" >OK</button>
                                      <select  name="coupon">
                                        <% for (var i = 0; i < couponns.length; i++) { %>
                                        <option value="<%= couponns[i].id %>">
                                          $<%= couponns[i].name %>
                                        </option>
                                        <% } %>
                                      </select>
                                    </form>
                                </li>
                                <li class="list-name">
                                    <p><b>cart total</b></p><span><%if(sum <=save ){%>
                                        <%= 0%>
                                        <%}else{%>
                                            <%=sum - save%>
                                            <%}%>.00</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- checkout-end -->
    <!-- footer start -->
    <section class="subscribe">
        <div class="container lg-container">
            <div class="sub-sec back-img" style="background-image:url(assets/images/subscribe-bg.jpg);">
                <div class="row">
                    <div class="col-xl-6 col-12 m-auto">
                        <div class="title">
                            <h2 class="h2-title lg-title">subscribe to get our latest updated</h2>
                        </div>
                        <div class="subscribe-from">
                            <div class="form-box">
                                <form>
                                    <input type="email" class="form-input-2" name="email" placeholder="Email Address..."
                                        required="">
                                    <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%- include('../layout/dashboard/footer'); -%>

    <!-- footer end -->
    <!-- Scroll To Top Start -->
    <%- include('../layout/dashboard/js'); -%>


</body>

</html>