<%- include('../layout/dashboard/head'); -%>


<body>
    <!-- header sec start -->
    <%- include('../layout/dashboard/header'); -%>

    <!-- header sec end -->
    <!-- banner-sec start -->
     <% for(var i =0 ; i < mrt_shop.length; i++){%>
     <% if(mrt_shop[i].active ==1 ){%>    
    <section class="banner">
        <div class="banner-bg" style="background-image: url(<%=mrt_shop[i].img%>)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-text">
                        <h1 class="h1-title"><%=mrt_shop[i].name%></h1>
                        <p><%=mrt_shop[i].describe%></p>
                        <div class="banner-btn">
                            <a href="<%=mrt_shop[i].link%>" class="sec-btn" title="Book Now">Book Now</a>
                            <a href="javascript:void(0);" class="video-btn">
                                <span class="icon"> <i class="fas fa-play"></i> </span>Play Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%}%>
    <%}%>
    <!-- banner-sec end -->
    <!-- about sec start -->
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="h2-title">Why To choose Us?</h2>
                        <p>Beauties Operates its retail network on stand-alone basis</p>
                    </div>
                </div>
            </div>
            <div class="about-list">
                <div class="row justify-content-center">
                    <% for(var i=0; i< service.length; i++){%>
                    <div class="col-lg-4">
                        <div class="about-box">
                            <div class="about-icon">
                                <img src="<%=service[i].img%>" alt="free delivery"/>
                            </div>
                            <h4 class="h4-title"><%=service[i].name%></h4>
                            <p><%=service[i].content%></p>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="about-shape">
            <img src="assets/images/abou-us-shape-icon.svg" alt="abou-us-shape-icon" width="170" height="212" />
        </div>
    </section>
    <!-- about sec end -->
    <!-- courses sec start -->
    <section class="courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="h2-title">our Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portfolio-tabbing">
                        <ul id="filters">
                            <% if(category.length >= 1){%>
                            <li>
                                <span class="filter active" data-filter=".<%= category[0].id%>"><%= category[0].name%></span>
                            </li>
                            <%}%>
                            <% for(var i=1 ; i < category.length ;i++){%>
                            <li>
                                <span class="filter" data-filter=".<%= category[i].id%>"><%= category[i].name%></span>
                            </li>
                            <%}%>
                        </ul>
                    </div>

                    <div class="portfolio-list-box">
                        <div class="portfoliolist bydefault_show" id="portfoliolist">
                            <%for(var i=0; i< category.length ; i++){%>
                                <% if(category[i].product.length > 0){%>
                            <% for(var j=0; j< category[i].product.length; j++){%>
                            <div class="portfolio <%= category[i].id%>" data-cat=".<%= category[i].id%>">
                                <a href="/product/<%=category[i].product[j].product.id%>">
                                    <div class="course-detail-box">
                                        <div class="course-image">
                                            <div class="course-img back-img"
                                                style="background-image: url(<%=category[i].product[j].product.img[0]%>)"></div>
                                        </div>
                                        <div class="course-text">
                                            <h3 class="h3-title"><%=category[i].product[j].product.name%></h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <%}%>
                            <%}%>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- courses sec end -->
<!-- offer sec start -->
<% for(var i =0 ; i < mrt_product.length; i++){%>
    <% if(mrt_product[i].active ==1 ){%>    
<section class="offer back-img" style="background-image: url(<%=mrt_product[i].img%>)">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 m-auto">
                <div class="offer-text">
                    <div class="title">
                        <h2 class="h2-title big-title"><%=mrt_product[i].name%></h2>
                    </div>
                    <p>
                        <%=mrt_product[i].describe%>
                    </p>
                    <a href="/product" class="sec-btn sec-btn-lg" title="Book Appointment">Book
                        Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<%}%>
<%}%>

<!-- offer sec end -->
     <!-- blog sec start -->
    <section class="blog">
        <div class="container lg-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="h2-title">recent blogs</h2>
                    </div>
                </div>
            </div>
            <div class="blog-box-list">
                <div class="row">
                    <%for(var i = 0; i < blog.length; i++){%>
                    <div class="col-lg-4">
                        
                        <div class="blog-box">
                            <a href="/blog/<%= blog[i].id %>">
                            <div class="blog-img back-img" style="background-image: url('<%= blog[i].img %>')">
                            </div>
                        </a>
                            <div class="blog-text">
                                <h3 class="h3-title"><%= blog[i].name %></h3>
                                <div class="course-content">
                                    <div class="lessons">
                                        <i class="fas fa-calendar"></i>
                                        <p><%= blog[i].time %></p>
                                    </div>
                                    <div class="time">
                                        <i class="fas fa-comment"></i>
                                        <p><%= blog[i].comment.length %> Comments</p>
                                    </div>
                                </div>
                                <p><%= blog[i].describe %></p>
                           
                                <div class="blog-link">
                                    <a href="/blog/<%= blog[i].id %>" title="Read more">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
               
                </div>
            </div>
      
            <div class="blog-btn">
                <a href="/blog" class="sec-btn">View More</a>
            </div>
        </div>
    </section>
    <!-- blog sec end -->
    <!-- review sec start -->
    <section class="review">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="h2-title">what client say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 m-auto">
                    <div class="review-swiper">
                        <div class="swiper-wrapper">
                            <% for(var i=0 ; i < review.length ; i++){%>
                            <div class="swiper-slide">
                                <div class="review-box">
                                    <div class="review-img back-img"
                                        style="background-image: url(<%=review[i].user.img%>)"></div>
                                    <div class="review-info-text overflow-text">
                                        <p>
                                            <%=review[i].content%>
                                        </p>
                                        <div class="review-author">
                                            <span>- <%=review[i].user.name%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </div>
                        <div class="swiper-arrows">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- review sec end -->
    <!-- footer start -->
    <section class="subscribe">
        <div class="container lg-container">
            <div class="sub-sec back-img" style="background-image: url(assets/images/subscribe-bg.jpg)">
                <div class="row">
                    <div class="col-xl-6 col-12 m-auto">
                        <div class="title">
                            <h2 class="h2-title lg-title">subscribe to get our latest updated</h2>
                        </div>
                        <div class="subscribe-from">
                            <div class="form-box">
                                <form>
                                    <input type="email" class="form-input-2" name="email" placeholder="Email Address..."
                                        required="" />
                                    <button type="submit" class="sec-btn">
                                        <span>Subscribe</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../layout/dashboard/footer'); -%>

    <!-- footer end -->
    <!-- Scroll To Top Start -->
    <%- include('../layout/dashboard/js'); -%>

</body>

</html>