<%- include('../layout/dashboard/head'); -%>


<body>
    <!-- header sec start -->
    <%- include('../layout/dashboard/header'); -%>

    <!-- header sec end -->
    <!-- banner-sec start -->
     <% if(dataoder.length != 0){%>
    <section class="banner inner-banner">
        <div class="inner-shape">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-text">
                            <h1 class="h1-title">Oder Confirm</h1>
                            <div class="banner-links">
                                <ul>
                                    <li><a href="/" title="Home">Home</a> /</li>
                                    <li>Oder Confirm</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-sec end -->
    <!-- wishlist sec start -->
    <section class="wishlist">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="h2-title">your cart</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table check-tbl">
                            <thead>
                                <tr>
                                    <th>ID Oder</th>
                                    <th>Product name</th>
                                    <th class="p-price">Price</th>
                                    <th class="stock">Quantity</th>
                                    <th class="p-price">Total</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0 ; i < dataoder.length;i++){%>
                                <tr class="alert">
                                    <td >
                                        <p><%= dataoder[i].id%></p>
                                    </td>
                                    <td>
                                        <% for(var j=0; j < dataoder[i].product.length; j++){%>
                                        <p><%= dataoder[i].product[j].product.name%> / <%= dataoder[i].product[j].classfy.name%></p>
                                        <%}%>
                                    </td>
                                    <td>
                                        <% for(var j=0; j < dataoder[i].product.length; j++){%>
                                           <p> $<%= dataoder[i].product[j].product.price%></p>
                                        <%}%>
                                    </td>
                                    <td>
                                        <% for(var j=0; j < dataoder[i].product.length; j++){%>
                                        <p><%= dataoder[i].product[j].quantity%></p>
                                        <%}%>
                                    </td>
                                    <td>
                                        <% var sum=0 %>
                                        <% for(var j=0; j < dataoder[i].product.length; j++){%>
                                            <% sum =  sum + parseInt(dataoder[i].product[j].product.price)*parseInt(dataoder[i].product[j].quantity)%>
                                        <%}%>
                                        <p><%= sum%></p>
                                    </td>
                                    <td >
                                        <p><%= dataoder[i].address%></p>
                                    </td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%}else{%>
        <div class="main-404">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="box-404 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <img src="/assets/images/no-products.png" width="600" alt="Page Not FOund">
                        </div>
                    </div>
                    <div class="pro-btns">
                        <a href="/product" class="sec-btn" title="Continue Shopping">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    
        <%}%>
    <!-- wishlist sec end -->
    <!-- related product start-->
    <section class="related-products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-title">Related Products</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="related-swiper">
                        <div class="swiper-wrapper">
                            <%for(var i=0; i< dataproduct.length;i++){%>
                            <div class="swiper-slide">
                                <div class="single-product mb-30">
                                    <div class="product-img">
                                        <a href="/product/<%=dataproduct[i].id%>">
                                            <img src="<%=dataproduct[i].img[0]%>" alt="product1">
                                        </a>
                                        
                                        <span class="descount-sticker">sold-out</span>
                                        <!-- <span class="sticker">New</span> -->
                                              
                                        <div class="product-action d-flex justify-content-between">
                                            <a class="product-btn" href="/product/<%=dataproduct[i].id%>">Add to Cart</a>
                                            <ul class="d-flex">
                                                <li><a href="/product/wishlist/<%=dataproduct[i].id%>"><i class="fa fa-heart-o"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="/product/<%=dataproduct[i].id%>"><%=dataproduct[i].name%></a></h3>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4 class="price"><span class="new">$<%=dataproduct[i].price%>.00</span></h4>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- related product end -->
    <!-- footer start -->
    <section class="subscribe">
        <div class="container lg-container">
            <div class="sub-sec back-img" style="background-image: url(assets/images/subscribe-bg.jpg)">
                <div class="row">
                    <div class="col-xl-6 col-12 m-auto">
                        <div class="title">
                            <h2 class="h2-title lg-title">subscribe to get our latest updated</h2>
                        </div>
                        <div class="subscribe-from">
                            <div class="form-box">
                                <form>
                                    <input type="email" class="form-input-2" name="email" placeholder="Email Address..."
                                        required="" />
                                    <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../layout/dashboard/footer'); -%>

    <!-- footer end -->
    <!-- Scroll To Top Start -->
    <%- include('../layout/dashboard/js'); -%>
</body>

</html>