<%- include('../layout/dashboard/head'); -%>


<body>

    <!-- header sec start -->
    <%- include('../layout/dashboard/header'); -%>

    <!-- header sec end -->
    <!-- banner-sec start -->
    <section class="banner inner-banner">
        <div class="inner-shape">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-text">
                            <h1 class="h1-title">Products</h1>
                            <div class="banner-links">
                                <ul>
                                    <li><a href="/" title="Home">Home</a> /</li>
                                    <li>Product</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-sec end -->
    <!-- product detail sec start -->
    <section class="product-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-sidebar">
                        <div class="category-box">
                            <h3 class="sidebar-title">category</h3>
                            <div class="boxaccordion">
                                <% for(var i =0 ; i < cate.length; i++){%>
                                <div class="wrapper">
                                    <button class="toggle"><%= cate[i].name%><i class="fas fa-plus icon"></i></button>
                                    <div class="content">
                                        <p><%= cate[i].content%></p>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                        </div>
                        <!-- <div class="availability-box">
                            <h3 class="sidebar-title">availability</h3>
                            <div class="new">
                                <form>
                                    <div class="form-group">
                                        <input type="checkbox" id="Instock(7)">
                                        <label for="Instock(7)">In stock (7)</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="Outofstock(1)">
                                        <label for="Outofstock(1)">Out of stock (1)</label>
                                    </div>
                                </form>
                            </div>
                            <div class="available-btns">
                                <a href="javascript:void(0);" class="seec-btn">clear</a>
                                <a href="javascript:void(0);" class="seec-btn">apply</a>
                            </div>
                        </div> -->
                        <div class="price-box">
                            <h3 class="sidebar-title">category</h3>
                            <p>highest price is $200</p>
                            <form action="/search/price" method="get">
                            <div class="price-btn available-btns">
                                <span>$</span><input type="text" class="seec-btn" placeholder="From" name="price1">
                                <input type="text" class="seec-btn" placeholder="To" name="price2">
                            </div>
                            <div class="available-btns">
                                <a href="/product" class="seec-btn">clear</a>
                                <button href="javascript:void(0);" class="seec-btn" type="submit" style="border: none;">apply</button>
                            </div>
                          </form>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
                        <div class="grid-list-option">
                          
                        </div>
                        <div class="toolbar-short-area d-md-flex align-items-center">
                            <div class="toolbar-shorter">
                                <label>Sort By:</label>
                                <form method="GET" action="/search/cate">
                                    <select class="wide" name="category" onchange="this.form.submit()">
                                         <% for (var i = 0; i < cate.length; i++) { %>
                                            <option value="<%= cate[i].id %>" <%= cate[i].id == selected ? 'selected' : '' %>>
                                                <%= cate[i].name %>
                                            </option>
                                        <% } %>
                                   </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid-view">
                        <div class="row">
                            <% for(var i=0 ; i < product.length ; i++){%>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="single-product mb-30">
                                    <div class="product-img">
                                        <a href="/product/<%=product[i].id%>">
                                            <img src="<%=product[i].img[0]%>" alt="product1">
                                        </a>
                                        <% if(product[i].active==1 && parseInt(product[i].discount)>0){%>
                                        <span class="descount-sticker"><%=product[i].discount%>%</span>
                                        <%}%>
                                        <span class="sticker">New</span>

                                        <div class="product-action d-flex justify-content-between">
                                            <a class="product-btn" href="javascript:void(0);">Add to Cart</a>
                                            <ul class="d-flex">
                                            <li><a href="/product/wishlist/<%=product[i].id%>"><img src="/assets/images/like.svg"
                                                        alt="wishlist"></a></li>
                                          </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="/product/<%=product[i].id%>"><%=product[i].name%></a></h3>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4 class="price"><span class="new">$<%=product[i].price%>.00</span></h4>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                    <div class="product-pagination">
                        <div class="pagination" data-total-pages="<%= number %>" data-current-page="<%= page %>" data-page-type="product">
                          <a href="" id="prev"><i class="fas fa-chevron-left"></i></a>
                          <span id="pages"></span>
                          <a href="" id="next"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product detail sec start -->
    <!-- footer start -->
    <section class="subscribe">
        <div class="container lg-container">
            <div class="sub-sec back-img" style="background-image:url(assets/images/subscribe-bg.jpg);">
                <div class="row">
                    <div class="col-xl-6 col-12 m-auto">
                        <div class="title">
                            <h2 class="h2-title lg-title">subscribe to get our latest updated</h2>
                        </div>
                        <div class="subscribe-from">
                            <div class="form-box">
                                <form>
                                    <input type="email" class="form-input-2" name="email" placeholder="Email Address..."
                                        required="">
                                    <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../layout/dashboard/footer'); -%>

    <!-- footer end -->
    <!-- Scroll To Top Start -->
    <%- include('../layout/dashboard/js'); -%>

</body>

</html>