<%- include('../../layout/admin/head'); -%>
<body>

<!-- header -->
<%- include('../../layout/admin/header'); -%>
<!-- end header -->

<!-- sidebar -->
<%- include('../../layout/admin/slidebar'); -%>
<!-- end sidebar -->

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>SOCIAL</h2>
					<div class="main__title-wrap">
						<!-- filter sort -->
						<div class="filter" id="filter__sort">
							<!-- search -->
							<form action="/admin/social/search" class="main__title-form" method="get">
								<input type="text" placeholder="Search social.." name="search">
								<button type="submit">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"></path></svg>
								</button>
							</form>
								<!-- end search -->
						</div>
						<!-- end filter sort -->
						<a href="/admin/social/create" type="button" class="main__title-link">Create</a>
					</div>
				</div>
			</div>
			
			<!-- end main title -->

			<!-- comments -->
			<div class="col-12">
				<div class="main__table-wrap">
					<table class="main__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>NAME</th>
								<th>IMAGE</th>
								<th>LINK</th>
								<th>ACTION</th>
								
							</tr>
						</thead>

						<tbody>
							
								<% for (var i =0 ; i < data.length; i++) {%>
										<tr>
											<td>
												<div class="main__table-text"><%= data[i].id %></div>
											</td>
											<td>
												<div class="main__table-text"><%= data[i].name %></div>
											</td>
											<td>
												<div class="main__table-text"><%= data[i].img %></div>
											</td>
											<td>
												<div class="main__table-text"><%= data[i].link %></div>
											</td>
											<td>
												<div class="main__table-btns">
													<a href="/admin/social/edit/<%= data[i].id %>" class="main__table-btn main__table-btn--edit">
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5,18H9.24a1,1,0,0,0,.71-.29l6.92-6.93h0L19.71,8a1,1,0,0,0,0-1.42L15.47,2.29a1,1,0,0,0-1.42,0L11.23,5.12h0L4.29,12.05a1,1,0,0,0-.29.71V17A1,1,0,0,0,5,18ZM14.76,4.41l2.83,2.83L16.17,8.66,13.34,5.83ZM6,13.17l5.93-5.93,2.83,2.83L8.83,16H6ZM21,20H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z"/></svg>
													</a>
													<a href="/admin/social/delete/<%= data[i].id %>" class="main__table-btn main__table-btn--delete">
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
													</a>
												</div>
											</td>
										</tr>
							     <% }%>
						</tbody>
					</table>
				</div>
			</div>			
		</div>
	</div>
</main>



<!-- JS -->
<%- include('../../layout/admin/js'); -%>
</body>

</html>