<%- include('../../layout/admin/head'); -%>

<body>
    <!-- header -->
<%- include('../../layout/admin/header'); -%>
<!-- end header -->

<!-- sidebar -->
<%- include('../../layout/admin/slidebar'); -%>
<!-- end sidebar -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>Edit Marketing-shop</h2>
				</div>
			</div>
			<!-- end main title -->

			<!-- form -->
			<div class="col-12">
				<form action="/admin/marketing-shop/edit/<%=data.id%>" class="form" method="post" enctype="multipart/form-data" >
					<div class="row">
						<div class="col-12 col-md-5 form__cover">
							<div class="row">
								<div class="col-12 col-sm-6 col-md-12">
									<div class="form__img">
										<label for="form__img-upload">Upload cover (270 x 400)</label>
										<input id="form__img-upload" name="img" type="file"
											accept=".svg,.png, .jpg, .jpeg">
										<img id="form__img" src="<%=data.img %>" alt=" ">
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-7 form__content">
							<div class="row">
								<div class="col-12">
									<input type="text" class="form__input" name="name"
										placeholder="Title" value="<%=data.name%>">
								</div>

								<div class="col-12">
									<textarea id="text" name="describe" class="form__textarea"
										placeholder="Description"><%=data.describe%></textarea>
								</div>

								<div class="col-12 col-sm-6 col-lg-6">
									<input type="text" class="form__input" name="link"
										placeholder="link" value="<%=data.link%>">
								</div>

						<div class="col-12">
							<button type="submit" class="form__btn">EDIT</button>
						</div>
					</div>
				</form>
			</div>
<!-- end form -->
		</div>
	</div>
</main>
<%- include('../../layout/admin/js'); -%>
</body>
</html>