<header class="site-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-sm-6">
                <div class="site-branding">
                    <a href="/"><img src="/assets/images/logo.png" width="160" height="85" alt="site-logo" /></a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-2 ">
                <div class="header-menu">
                    <nav class="main-navigation">
                        <button class="toggle-button menu-toggle for-mob">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="header-mobile-menu">
                            <ul>
                                <li><a href="/" title="Home">Home</a></li>
                                <!-- <li><a href="/service" title="Blog">Service</a></li> -->
                                <li><a href="/blog" title="Blog">Blog</a></li>
                                <li><a href="/product" title="Blog">Product</a></li>
                                <li class="sub-items">
                                    <a href="javascript:void(0);" class="sub-menu" title="Shop">Shop</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="/wishlist" title="Wishlist">Wishlist</a>
                                        </li>
                                        <li>
                                            <a href="/cart/oder-confirm" title="Check Out">Check Oder </a>
                                        </li>
                                        <li>
                                            <a href="/cart" title="Shopping Cart">Shopping Cart</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/contact" title="Contact">Contact</a></li>
                                
                            </ul>
                        
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2 col-sm-2  " id="Search">
                <div class="header-menu">
                <form action="/search" method="get">
                <input type="text" placeholder="search here..." name="search" >
                <button type="submit" class="btnn"><i class="fas fa-search" id="search-icon"></i></button>
                 </form>
                </div>
            </div>
            <div class="col-lg-2 col-sm-2">
                <div class="header-menu">
                    <nav class="main-navigation">

                        <div class="header-mobile-menu">
                            <ul>
                                <li class="sub-items">
                                    <a href="javascript:void(0);"><img src="/assets/images/login.svg" alt="Login"> </a>
                                    <% if (user !=undefined) { %>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="/profile" title="Profile">Profile</a>
                                            </li>

                                            <li>
                                                <a href="/logout" title="Logout">Logout</a>
                                            </li>

                                        </ul>
                                        <% } else { %>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/login" title="Login">Login</a>
                                                </li>
                                                <li>
                                                    <a href="/register" title="Register">Register</a>
                                                </li>
                                            </ul>
                                            <% } %>
                                </li>
                                <li id="icon-cart">
                                    <a  href="" title="Buy"><img src="/assets/images/buy.svg" alt="Buy" /></a>
                                    <ul id="cart1">
                                        <li id="item-header">
                                            <span ><% if(user !=undefined){user.product.length}%> Items</span>
                                            <a href="/cart">View Cart</a>
                                        </li>
                                        <% if(user !=undefined){%>
                                            <% for(var i=0; i < user.product.length ;i++){%>
                                        <li id="item-product" >
                                         <a class="item-img" href="/product/<%=user.product[i].product.id%>"><img src="<%=user.product[i].product.img[0]%>" alt="Buy" /></a>
                                         <a class="remove-item" href="/product/cart/delete/<%=user.product[i].id%>"><i class="fas fa-times" aria-hidden="true"></i></a>
                                         <h5>
                                            <a href="/product/<%=user.product[i].product.id%>"><%=user.product[i].product.name%></a>
                                            <p class="classfy-item"><%=user.product[i].classfy.name%></p>
                                            <p class="quantity-item"><%=user.product[i].quantity%> X <%=user.product[i].product.price%>$</p>   
                                        </h5>
                                        </li>
                                        <%}%>
                                        <%}%>
                                        <li id="item-bottom">
                                            <span>Total</span>
                                            <span class="total">
                                                <%var sum =0 %>
                                                <% if(user !=undefined){%>
                                                    <% for(var i=0; i < user.product.length ;i++){%>
                                                        <% sum =sum + user.product[i].quantity*parseInt(user.product[i].product.price)%>
                                                    <%}%>
                                                <%}%>   
                                                <%=sum%>$             
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>