<%- include('../../layout/admin/head'); -%>

<body>
    <!-- header -->
<%- include('../../layout/admin/header'); -%>
<!-- end header -->

<!-- sidebar -->
<%- include('../../layout/admin/slidebar'); -%>
<!-- end sidebar -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>Add new coupon</h2>
				</div>
			</div>
			<!-- end main title -->

			<!-- form -->
			<div class="col-12">
				<form action="/admin/coupon/create" method="post" class="form">
					<div class="row ">
						<div class="col-12 col-md-10 offset-1">
							<div class="row">
								<div class="col-4">
									<input type="text" class="form__input" placeholder="Name" name="name">
								</div>
								<div class="col-4">
									<input type="text" class="form__input" placeholder="Buymin" name="buymin">
								</div>
								<div class="col-12 col-sm-6 col-lg-4">
									<input type="text" class="form__input" placeholder="Quanlity" name="quanlity">
								</div>

								<div class="col-12 col-sm-6 col-lg-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="js-example-basic-single" id="discount" name="discount">
                                                <option value=""></option>
                                                <option value="0">PERCENT</option>
                                                <option value="1">PRICE</option>
                                            </select>        
                                        </div>
                                        <div class="col-6 col-sm-4">
                                            <input type="text" class="form__input_discount" placeholder="value" name="value">
                                        </div>
                                    </div>
								</div>

								<div class="col-12 col-sm-4 col-lg-4">
									<a href="#modal-status" class="form__btn form__btn--add open-modal">ADD USER</a>
								</div>

								<div class="col-12 col-sm-4 col-lg-4">
									<a href="#modal-view" class="form__btn form__btn--add open-modal">ADD PRODUCT</a>
								</div>
								<div class="col-12">
									<button type="submit" class="form__btn">create</button>
								</div>
							</div>
						</div>
					</div>
					<div id="modal-status" class="zoom-anim-dialog mfp-hide modal">
						<h6 class="modal__title">ADD NEW USER</h6>
						<div class="form">
							<div class="row">
								<div class="col-12 mb-5">
									<label class="profile__label" for="rights1">Add Typer</label>
									<div class="col-12 col-lg-12">
										<select class="js-example-basic-multiple" id="rights1" name="typer" multiple="multiple">
											<% for(var j=0; j< typer.length ; j++){%>
												<option value="<%=typer[j].id %>"><%=typer[j].name %></option>
											<%}%>						
										</select>
									</div>
								</div>
								<div class="col-12 mb-4">
									<label class="profile__label" for="rights">Add User</label>
									<div class="col-12 col-lg-12">
										<select class="js-example-basic-multiple" id="rights" name="user" multiple="multiple">
											<% for(var j=0; j< user.length ; j++){%>
												<option value="<%=user[j].id %>"><%=user[j].name %></option>
											<%}%>
						
										</select>
									</div>
								</div>
							</div>
						    <div class="modal__btns">
							    <button class="modal__btn modal__btn--apply" type="button">Apply</button>
							    <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
						    </div>
					    </div>
					</div>
					<div id="modal-view" class="zoom-anim-dialog mfp-hide modal">
						<h6 class="modal__title">ADD NEW PRODUCT</h6>
						<div class="form">
							<div class="row">
								<div class="col-12 mb-5">
									<label class="profile__label" for="rights2">Add Categori</label>
									<div class="col-12 col-lg-12">
										<select class="js-example-basic-multiple" id="rights2" name="category" multiple="multiple">
											<% for(var j=0; j< category.length ; j++){%>
												<option value="<%=category[j].id %>"><%=category[j].name %></option>
											<%}%>
						
										</select>
									</div>
								</div>
								<div class="col-12 mb-4">
									<label class="profile__label" for="rights3">Add Product</label>
									<div class="col-12 col-lg-12">
										<select class="js-example-basic-multiple" id="rights3" name="product" multiple="multiple">
											<% for(var j=0; j< product.length ; j++){%>
												<option value="<%=product[j].id %>"><%=product[j].name %></option>
											<%}%>

										</select>
									</div>
								</div>
							</div>
						    <div class="modal__btns">
							    <button class="modal__btn modal__btn--apply" type="button">Apply</button>
							    <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
						    </div>
					    </div>
					</div>										
				</form>
			</div>
			<!-- end form -->
		</div>
	</div>
</main>

<%- include('../../layout/admin/js'); -%>
</body>
</html>