<%- include('../../layout/admin/head'); -%>
<body>

<!-- header -->
<%- include('../../layout/admin/header'); -%>
<!-- end header -->

<!-- sidebar -->
<%- include('../../layout/admin/slidebar'); -%>
<!-- end sidebar -->

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>TAG</h2>

					<a href="#modal-status" class="main__title-link open-modal">ADD TAG</a>
				</div>
			</div>			<!-- end main title -->

			<!-- users -->
			<div class="col-12">
				<div class="main__table-wrap">
					<table class="main__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>NAME</th>
								<th>ACTIONS</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0 ; i < data.length ; i++){%>
							<tr>
								<td>
									<div class="main__table-text"><%=data[i].id %></div>
								</td>
								<td>
									<div class="main__table-text"><%=data[i].name %></div>
								</td>
								
								<td>
									<div class="main__table-btns">
										<a href="/admin/tag/edit/<%=data[i].id %>" class="main__table-btn main__table-btn--edit">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5,18H9.24a1,1,0,0,0,.71-.29l6.92-6.93h0L19.71,8a1,1,0,0,0,0-1.42L15.47,2.29a1,1,0,0,0-1.42,0L11.23,5.12h0L4.29,12.05a1,1,0,0,0-.29.71V17A1,1,0,0,0,5,18ZM14.76,4.41l2.83,2.83L16.17,8.66,13.34,5.83ZM6,13.17l5.93-5.93,2.83,2.83L8.83,16H6ZM21,20H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z"/></svg>
										</a>
										<a href="/admin/tag/delete/<%=data[i].id %>" class="main__table-btn main__table-btn--delete">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
										</a>
									</div>
								</td>
							</tr>
							<%}%>
						</tbody>
					</table>
				</div>
			</div>
			<!-- end users -->

			<!-- paginator -->
			<div class="col-12">
				<div class="paginator-wrap"  data-total-pages="<%= number %>" data-current-page="<%= page %>" data-page-type="tag">
					  <ul class="paginator">
						<!-- Nút Previous -->
						<li class="paginator__item paginator__item--prev" id="prev">
						  <a href="#">
							<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
							  <path d="M8.5,12.8l5.7,5.6c0.4,0.4,1,0.4,1.4,0c0,0,0,0,0,0c0.4-0.4,0.4-1,0-1.4l-4.9-5l4.9-5c0.4-0.4,0.4-1,0-1.4
									  c-0.2-0.2-0.4-0.3-0.7-0.3c-0.3,0-0.5,0.1-0.7,0.3l-5.7,5.6C8.1,11.7,8.1,12.3,8.5,12.8C8.5,12.7,8.5,12.7,8.5,12.8z">
							  </path>
							</svg>
						  </a>
						</li>
						<!-- Các liên kết trang (sẽ được thêm động qua JavaScript) -->
						<!-- Nút Next -->
						<li class="paginator__item paginator__item--next" id="next">
						  <a href="#">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							  <path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3
									  l5.66-5.65A1,1,0,0,0,15.54,11.29Z">
							  </path>
							</svg>
						  </a>
						</li>
					  </ul>
				  </div>
			</div>
			<!-- end paginator -->
		</div>
	</div>
</main>
<!-- end main content -->

<!-- modal status -->
<div id="modal-status" class="zoom-anim-dialog mfp-hide modal">
	<h6 class="modal__title">ADD NEW TAG</h6>
    <form action="/admin/tag/create" method="post" class="form">
					
		<div class="row">
			<div class="col-12">
				<label class="profile__label">Name</label>
				<input type="text"  name="name" class="form__input" placeholder="Name">
			</div>
			
		</div>
	<div class="modal__btns">
		<button class="modal__btn modal__btn--apply" type="submit">Apply</button>
		<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
	</div>
</form>

</div>
<!-- end modal status -->


<!-- JS -->
<%- include('../../layout/admin/js'); -%>
</body>

</html>