<%- include('../../layout/admin/head'); -%>
<body>

<!-- header -->
<%- include('../../layout/admin/header'); -%>
<!-- end header -->

<!-- sidebar -->
<%- include('../../layout/admin/slidebar'); -%>
<!-- end sidebar -->

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>BLOG</h2>
					<a href="/admin/blog/create" type="button" class="main__title-link">ADD BLOG</a>
				</div>
			</div>
			<!-- end main title -->

			<!-- comments -->
			<div class="col-12">
				<div class="main__table-wrap">
					<table class="main__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>NAME</th>
								<th>DESCRIPTON</th>
								<th>ACTION</th>
							</tr>
						</thead>
						<tbody>
								<% for (var i =0 ; i < data.length; i++) {%>
										<tr>
											<td>
												<div class="main__table-text"><%= data[i].id %></div>
											</td>
											<td>
												<div class="main__table-text"><%= data[i].name %></div>
											</td>
											<td>
												<div class="main__table-text"><%= data[i].describe %></div>
											</td>
										
										</td>

											<td>
												<div class="main__table-btns">
													<a href="/admin/blog/edit/<%= data[i].id %>" class="main__table-btn main__table-btn--edit">
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5,18H9.24a1,1,0,0,0,.71-.29l6.92-6.93h0L19.71,8a1,1,0,0,0,0-1.42L15.47,2.29a1,1,0,0,0-1.42,0L11.23,5.12h0L4.29,12.05a1,1,0,0,0-.29.71V17A1,1,0,0,0,5,18ZM14.76,4.41l2.83,2.83L16.17,8.66,13.34,5.83ZM6,13.17l5.93-5.93,2.83,2.83L8.83,16H6ZM21,20H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z"/></svg>
													</a>
													<a href="/admin/blog/delete/<%= data[i].id %>" class="main__table-btn main__table-btn--delete">
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
													</a>
												</div>
											</td>
										</tr>
							     <% }%>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		</div>
	</div>
<!-- JS -->
<%- include('../../layout/admin/js'); -%>
</body>
</html>